<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Magical Creatures Homepage</title>
  </head>
  <body>
    <h1>Welcome One and All to the Magical Creatures Website!</h1>
    <p>
      Magical creatures inhabit every corner of this world! This site is dedicated
      to the identification and appreciation of these majestic floofs, snooters,
      and shmugamuganas.
    </p>
    <img src="https://cdn.shopify.com/s/files/1/1365/2497/products/Rainbow-unicorn-mask_900x.png?v=1553633323"
    alt="a magical unicorn man">
  </body>
</html>
